@font-face {
	font-family: vazir;
	font-style: normal;
    font-weight: normal;
	src: url('../src/assets/font/Vazir.eot?#iefix') format('embedded-opentype'),
		 url('../src/assets/font/Vazir.ttf') format('ttf'),
		 url('../src/assets/font/Vazir.woff') format('woff'),
		 url('../src/assets/font/Vazir.woff2') format('woff2');
}
